<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <a class="navbar-brand" href="/">
    <div><img src="/assets/logo.png" /> PyBox</div>
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item info dropdown">
      <a class="nav-link outline-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Administration
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/users">Users</a>
        <a class="dropdown-item" routerLink="/sites">Sites</a>
        <a class="dropdown-item" routerLink="/subscriptions">Subscriptions</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav mr-aut float-right">
    <li class="nav-item info dropdown">
      <a class="nav-link outline-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Current site : {{user.email}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      </div>
    </li>
    <li class="nav-item info dropdown">
      <a class="nav-link outline-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{user.firstName}} {{user.lastName}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/users/edit/5">Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
  <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit"></button>-->

</nav>


<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
